doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Starter Template for Bootstrap
    // Bootstrap core CSS
    // Custom styles for this template
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
  body
    block content
